//Colors

$title-color: #252b42;
$text-color: #737373;
$background-color: #f3f3f3;
$button-color: #ffa62b;
$button-color-hover: #e28b11;
$button-color-active: #dd8202;
$accent-color: #00a0c1;
$accent-color-active: #00819b;
$special-color: #16697a;
$basic-white: #ffffff;
$background-grey: #fafafa;
$background-menu: #f6f6f6;

//Vieports

$mobile-width: 330px;
$tablet-width: 768px;
$desktop-width: 1046px;
// max-device-width
$max-mobile-width: 480px;
$max-tablet-width: 1280px;
$max-desktop-width: 1046px;
